@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');


* {
    margin: 0;
    padding: 0;
}

body, html {
     background: #e84118;
  padding: 30px;
}

.search-box {
 position: absolute;
 top: 5%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
 align-content: center;
}

.search-box:hover > .search-txt {
 width: 240px;
 padding: 0 6px;
}

.search-box:hover > .search-btn {
 background: white;
 color: black;
}

.search-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
}

.search-btn > i {
 font-size: 30px;
}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}
.search-btn  i {
 font-size: 30px;
}


/*input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 40px;
    left: 172px;
    margin: 4px 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}*/

ul#wrapper {
    list-style: none;
    display: inline-block;
    margin-top: 100px;
    text-align: center;
    position: absolute;
    max-width: 1000px;
    width: 50%;
    height: auto;
    margin: 100px 0 auto;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

li {
    position: relative;
    width: 100%;
    min-height: 200px;
    height: auto;
    background-color: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5em -1em black;
    margin: 0 0 30px 0;
}

a {
     font-size: 1.500em; //24px 
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 0 0;
}

 .blog-item {
    position: relative;
    width: 100%;
    min-height: 200px;
    height: auto;
    background-color: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 0 30px 0;}

    .blog-content {
      position: relative;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 30px;}
      
      p {
        line-height: 1.500em; //20px
      }
      img {
      position: absolute;
      width: 35%;
      height: 100%;
      top: 0;
      right: 0;
      background-image: url('1.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
h5 {
  font-size: 0.750em; //12px
  text-transform: uppercase;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 10px 0;
  color: #BEBEBE;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    float: left;
  }
  .left {
  width: 75%;
}

.right {
  width: 25%;
}
}
button{
display: inline-block;
        text-decoration: none;
        border: 1px solid #80D9FB;
        border-radius: 7px;
        background-color: #80D9FB;
        color: #FFFFFF;
        padding: 10px 20px;
        margin: 0;
        transition: background-color 300ms linear, color 300ms linear;
        
        &:hover {
          background-color: #FFFFFF;
          color: #80D9FB;
}
